//Colors
$color-celeste: #92DCE5;
$color-rojo: #EF6461;
$color-blanco: #fff;
$color-negro: #000;
$color-gris: #666;

//Fonts
$open-sans: 'Open Sans', sans-serif;
$regular: 400;
$semi-bold: 600;
$bold: 700;

//Breakpoints
$breakpoint-desktop: 992px;