.navbar{
    display: flex;
    justify-content: space-between;
    position: relative;
    .logo{
        max-width: 40%;
        padding: 5%
    }
    .togglemenu{
        position: absolute;
        right: 10vw;
        top: calc(50% - 20px);
        text-decoration: none;
        font-size: 2.5em;
        color: $color-gris;
    }
    .mainmenu{
        position: absolute;
        display: flex;
        justify-content: space-between;
        bottom: -2.9em;
        height: 3em;
        width: 100%;
        background-color: $color-blanco;
        height: 0;
        &__item{
            a{
                color: $color-negro;
                text-decoration: none;
                padding: 1em;
                font-size: 1.6em;
            }
        }
    }
}
@media (min-width: $breakpoint-desktop){
    .navbar{
        max-width: 1240px;
        margin: 0 auto;
        .logo{
            padding: 0.5em 1em;
        }
        .mainmenu{
            position: relative;
            height: auto;
            width: auto;
            top: auto;
            bottom: auto;
            flex-grow: 1;
            justify-content: flex-end;
            &__item{
                a{
                    position: relative;
                    display: block;
                    &:hover{
                        color: $color-rojo;
                    }
                }
            }
        }
        .togglemenu{
            position: relative;
            padding: 1em;
            font-size: 1.6em;
            right: 0;
            &:hover{
                color: $color-rojo;
            }
        }
    }
}